// :root {
// 	--color_accent: #2947A9;
// }

// Colors

// Background
$color-bg: #0e0f12;
$color-bg2: #151821;
$color-surface: #1b1e29;
$color-bg-concert: #151821;

// Text
$color-text-primary: #ffffff;
$color-text-secondary: #b0b0b0;
$color-accent-heading: #ffb800;
$color-blue: #4bcbf7;

// Btn
$color-btn-main-start: #fee42b;
$color-btn-main-end: #ff6f00;
$color-btn-main-text: #000000;
$color-btn-table: #f82c56;

// Hover
$color-btn-main-hover: #e69500;
$color-btn-table-hover: #c72e3b;

// breakpoints
$point_1: 1200px;
$point_2: 1024px; /* ! */
$point_3: 1023.98px;
$point_4: 768px; /* ! */
$point_5: 767.98px;
$point_6: 480px;
$point_7: 375px; /* ! */
$point_8: 374.98px; /* ! */

//Fonts

$font_1: 'Inter', sans-serif;
