@use '../variables' as *;
@mixin st_btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;

	text-align: center;
	white-space: nowrap;

	cursor: pointer;
	text-decoration: none;
}

//color extends
%yellow_btn_1 {
	@include st_btn;

	font-weight: 700;
	color: $color-btn-main-text;
	background-color: $color-btn-main-start;
	transition: 0.3s ease;
}

%red_btn_1 {
	@include st_btn;

	font-weight: 700;
	color: $color-text-primary;
	background-color: $color-btn-table;
	transition: 0.3s ease;
}

//size extends
%btn_size_1 {
	min-width: 23.2rem;
	height: 5.4rem;
	padding: 0 2rem;
	line-height: 5.4rem;
	font-size: 1.6rem;
	border-radius: 1.5rem;
	text-transform: uppercase;
}
%btn_size_2 {
	max-width: 30rem;
	height: 4rem;
	padding: 0.8rem 1.6rem;
	line-height: 5.4rem;
	font-size: 1.4rem;
	border-radius: 1.5rem;
}

.btn_hero {
	@extend %yellow_btn_1;
	@extend %btn_size_1;
	margin-bottom: 5rem;
}

.btn_concert {
	@extend %red_btn_1;
	@extend %btn_size_2;
}
