@use './helpers/abstracts' as *;

.hero-title {
	padding-top: 10rem;
	padding-bottom: 3rem;
	font-weight: 700;
	font-size: 4.6rem;
	line-height: 5rem;
	color: $color-text-primary;
}

.hero-subtitle {
	font-size: 1.6rem;
	line-height: 2.5rem;

	&__text {
		color: $color-text-primary;
		padding-bottom: 1.5rem;
		&:last-child {
			padding-bottom: 3rem;
		}
	}

	.word-accent {
		color: $color-blue;
		font-weight: 700;
	}
}


//Tablet
@include bp($point_2) {
	.hero-title {
		text-align: center;
	}
	.hero-subtitle {
		font-size: 1rem;
		line-height: 2;
		text-align: center;
	}
	.btn_hero {
		margin: 0 auto;
		display: block;
	}
}

//Mobile

@include bp($point_4) {
	.hero-title {
		font-size: 2.6rem;
		line-height: 3.2rem;
		padding-top: 5rem;
	}
	.hero-subtitle {
		font-size: 1.2rem;
		line-height: 1.8rem;
	}
	.btn_hero {
		width: 100%;
		max-width: 20rem;
		margin: 0 auto;
	}
}
