@use './helpers/abstracts' as *;
.history {
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: 2rem;
	&-col {
		width: 50%;
	}
	&-col__text {
		color: $color-text-3;
		margin: 0 0 1.6rem;
		font-size: 2rem;
		line-height: 2.5rem;
	}
	&-img_in {
		width: 50rem;
		height: 40rem;
	}
	&-img {
		display: block;
		height: 100%;
		width: 100%;
		object-position: top;
		object-fit: contain;
	}
}

//Tablet
@include bp($point_2) {
	.history {
		column-gap: 1.5rem;

		&-col__text {
			font-size: 1.8rem;
			line-height: 2.3rem;
		}

		&-img_in {
			width: 100%;
			height: auto;
			max-width: 36rem;
			margin: 0 auto;
		}
	}
}

//Mobile
@include bp($point_4) {
	.history {
		flex-direction: column;
		row-gap: 2rem;

		&-col {
			width: 100%;
		}

		&-col__text {
			font-size: 1.6rem;
			line-height: 2.2rem;
		}

		&-img_in {
			width: 100%;
			height: auto;
			max-width: 30rem;
			margin: 0 auto;
		}
	}
}
